@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;
  --font-6xl: 3.75rem;
  --font-7xl: 4.5rem;
  --font-8xl: 6rem;
  --font-9xl: 7rem;

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-heading: 'Be Vietnam Pro', sans-serif;
  --font-body: 'Be Vietnam Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.font-xs {
  font-size: var(--font-xs);
}
.font-sm {
  font-size: var(--font-sm);
}
.font-md {
  font-size: var(--font-md);
}
.font-lg {
  font-size: var(--font-lg);
}
.font-xl {
  font-size: var(--font-xl);
}
.font-2xl {
  font-size: var(--font-2xl);
}
.font-3xl {
  font-size: var(--font-3xl);
}
.font-4xl {
  font-size: var(--font-4xl);
}
.font-5xl {
  font-size: var(--font-5xl);
}
.font-6xl {
  font-size: var(--font-6xl);
}
.font-7xl {
  font-size: var(--font-7xl);
}
.font-8xl {
  font-size: var(--font-8xl);
}
.font-9xl {
  font-size: var(--font-9xl);
}

.font-light {
  font-weight: var(--font-light);
}
.font-normal {
  font-weight: var(--font-normal);
}
.font-medium {
  font-weight: var(--font-medium);
}
.font-semibold {
  font-weight: var(--font-semibold);
}
.font-bold {
  font-weight: var(--font-bold);
}

.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
